.balloon{
    position:absolute;
    font-size:45px;
    animation:balloonMove linear infinite;
}

@keyframes balloonMove{
    0%{
        transform:translateY(120vh);
    }
    100%{
        transform:translateY(-130vh);
    }
}

.profile{
    width:350px;
    max-width:90%;
    height:auto;
    display:block;
    margin:20px auto;
    border-radius:20px;
    border:5px solid white;
    box-shadow:0 0 25px hotpink;
}
